*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.cpt
*.glg
*.glo
*.gls
*.ist
*.loa
*.lof
*.log
*.lot
*.out
*.pdf
*.pyg
*.tdo
*.toc
*.wrt
*.xdy
.vagrant
figs/*converted-to.pdf
figs/*.eps
data/**/*.tex
report.pdf
tmp
